#!/bin/bash
# ^ For ide/editor formatting
#
# Documents env variables used explicitly in-app

# port to listen on (for http requests), optional
PORT=

# url of {SQUAD} api service, omit trailing `/`
CHATSQUAD_API=
PAYMENT_API=
FLIGHTSQUAD_URL=

# AWS auth config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS SQS Queue Config
AWS_QUEUE_REGION=
AWS_QUEUE=

# Firestore config, minified json
FS_CONFIG=
FIREBASE_URL= # see configuration snippet under settings/service accounts in firebase

# Firebase Config
## Google Sheets Config
AIRPORT_LOC_DOC= # Id Of google sheets doc
SHEET_NAME= # name of sheet containing airport location mapping

