#!/bin/bash
# ^ For ide/editor formatting
#
# Documents env variables used explicitly in-app

# port to listen on (for http requests), optional
PORT= 

# url of Chatsquad api service, omit trailing `/`
CHATSQUAD_API=

# AWS config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Firestore config, minified json
FS_CONFIG=

